<!DOCTYPE html>
<html lang="de">
<!-- Machine code  -->

<head>
    <meta charset="UTF-8">
    <title>✨Happy Have Fun♻</title>
    <link rel="stylesheet" href="../styles/mainStyle.css" />
</head>

<!-- Human Code -->

<body>
    <div class="body">
        <div class="el NavBar">
            <div class="FlexNavItems">
                <div class="LeftNaveSide">
                    <div class="Logo">LOGO
                    </div>
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="RightNaveSide">
                    <button>Write me an Email</button>
                </div>
            </div>
        </div>

        <div class="el Content">Seite Inhalt
            <section class="TodoListSection">
                <div class="ContentHeader">
                    <h1 class="Intro"> Welcome to me simple ToDo List Projekt🐱‍🏍
                    </h1>
                </div>
            </section>

        </div>

        <div class="el LeftPanel">Sub Funktionen</div>

        <div class="el RightPanel">Werbungen und Trends</div>

        <div class="el Footer">Fußzeile</div>
    </div>
</body>

</html>